*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 14px;
  font-family: "Open Sans", Tahoma, Helvetica, sans-serif;
}

.chart {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.container {
  height: 100%;
  width: 100%;
  height: 70vh;
}

.canvas {
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  background: #fafafa;
}

.cell {
  padding: 8px;
}

label {
  display: flex;
  align-items: center;
  border: 1px solid #e6ecf0;
  border-radius: 25px;
  padding: 8px;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.icon {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: currentColor;
}

.icon:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  transform: scale(1);
  transform-origin: center;
  transition: transform 0.2s 0.1s;
}

.icon:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 17px;
  left: 11px;
  width: 6px;
  height: 10px;
  transform-origin: top left;
  transform: scale(0) rotate(-135deg);
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  transition: transform 0.2s;
}

input:checked + .icon:before {
  transform: scale(0);
  transition-delay: 0s;
}

input:checked + .icon:after {  
  transform: scale(1) rotate(-135deg);
  transition-delay: 0.1s;
}

.text {
  margin-left: 8px;
}

.dark {
  background: #242f3e;
  color: #ecedee;
}

.dark label {
  border-color: #2b394a;
}

.dark .icon:before {
  background: #242f3e;
}

.dark canvas {
  background: #1f2a39;
}
